<ion-header no-border>
  <ion-navbar color='navbarColor'></ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar color='navbarColor'>
  	<h2>{{title}}</h2>
  	<p>{{start_date}}, {{start_time}} - {{end_time}}</p>
  	<p><strong>Venue:</strong> {{venue}}</p>
    <ion-row>
      <ion-col *ngIf="conveners != '' && conveners != null"><strong>Conveners</strong><br/>{{conveners}}</ion-col>
    </ion-row>
  </ion-toolbar>
  <div *ngIf="nursing_details.length > 0">
  	<ion-list inset *ngFor="let item of nursing_details">
  		<ion-item text-wrap>
  			<h2>{{item.topic}}</h2>
  			<p>{{item.faculty}}</p>
  			<p *ngIf="item.start_time != '' && item.start_time != null">{{item.start_time}} - {{item.end_time}}</p>
        <p class="progress" *ngIf="item.status == 1">Session in Progress</p>
        <p class="completed" *ngIf="item.status == 2">Session Completed</p>
  		</ion-item>
  	</ion-list>
  </div>
  <ion-fab bottom right (click)="initializePage()">
    <button ion-fab color="navbarColor"><ion-icon name="sync"></ion-icon></button>
  </ion-fab>
</ion-content>