page-app-sponsor {
	ion-content {
	    background-color: #faf4e2 !important;
	}
	ion-slides {
		height: unset !important;
	}
	p {
	    font-size: 15px;
	    color: #5d5d5d;
	    line-height: 26px;
	}
	p strong {
		color: #5d5d5d;
	}
}
