// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.action-sheet-md {
  text-align: center;
}

.action-sheet-md .action-sheet-wrapper {
  margin: constant(safe-area-inset-top) auto constant(safe-area-inset-bottom);
  margin: env(safe-area-inset-top) auto env(safe-area-inset-bottom);
}

.action-sheet-md .action-sheet-container {
  padding: 0 10px;
}

.action-sheet-md .action-sheet-group {
  border-radius: 13px;
  margin-bottom: 8px;
  background: #f9f9f9;
}

.action-sheet-md .action-sheet-group:first-child {
  margin-top: 10px;
}

.action-sheet-md .action-sheet-group:last-child {
  margin-bottom: 10px;
}

.action-sheet-md .action-sheet-title {
  padding: 1.5rem;
  text-align: center;
  border-radius: 0;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 1.3rem;
  font-weight: 400;
  color: #8f8f8f;
}

.action-sheet-md .action-sheet-button {
  margin: 0;
  padding: 18px;
  min-height: 5.6rem;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 2rem;
  color: #007aff;
  background: transparent;
}

.action-sheet-md .action-sheet-button:last-child {
  border-bottom-color: transparent;
}

.action-sheet-md .action-sheet-button.activated {
  margin-top: -0.55px;
  border-top: 0.55px solid #ebebeb;
  border-bottom-color: #ebebeb;
  background: #ebebeb;
}

.action-sheet-md .action-sheet-selected {
  font-weight: bold;
  background: #fff;
}

.action-sheet-md .action-sheet-destructive {
  color: #f53d3d;
}

.action-sheet-md .action-sheet-cancel {
  font-weight: 600;
  background: #fff;
}

.action-sheet-md .action-sheet-group .button-inner {
    -webkit-box-pack: start;
    -webkit-justify-content: center;
}

