page-general-info {
	ion-content {
	    background-color: #faf4e2 !important;
	}
	ion-item{
		border-bottom: 1px solid #ccc !important;
	}
	ion-item-divider {
		color: white !important;
		background-color: #352300 !important;
		text-align: center;
		font-weight: 600;
	}
	.my-nav {
		font-size: 1.5rem;
		padding-left: 30px;
	  	list-style-type: disc;
	}
	ul li {
		font-weight: 500 !important;
	    font-size: 15px !important;
	    color: #5d5d5d !important;
	    line-height: 26px !important;
	}
	ion-card ion-card-content p {
		text-align: justify;
		font-weight: 400 !important;
	    font-size: 15px !important;
	    color: #5d5d5d !important;
	    line-height: 26px !important;
	}
}
